<search></search>
<div class="main-container" [ngClass]="{darkMode}">
  <div class="header-container">
    <div class="left-col">
      <img
        [src]="'../../../assets/images/' + weatherData.currentWeather?.[0].WeatherIcon + '.png'"
        alt="weather icon"
      />
      <div class="city-container">
        <span class="city-name">{{ weatherData?.cityName }}</span>
        <span class="current-temp"
          >{{ useF ? ((weatherData.currentWeather?.[0].Temperature.Metric.Value * 9/5) + 32) :weatherData.currentWeather?.[0].Temperature.Metric.Value }}
          &deg; {{ useF ? "F" : "C" }}</span
        >
      </div>
    </div>
    <div class="right-col">
      <div
        class="favorite-icon-inactive"
        style="display: none"
        (click)="addRemoveFavorite()"
        [ngStyle]="{ display: isFavorite ? 'none' : 'block' }"
      >
        <svg
          height="50px"
          width="50px"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="-49.5 -49.5 594.00 594.00"
          xml:space="preserve"
          fill="#000000"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke="#CCCCCC"
            stroke-width="33.660000000000004"
          >
            <g>
              <path
                style="fill: #b0b0b0"
                d="M362.96,14.24c-49.72,0-92.95,27.53-115.46,68.13v398.39C284.67,452.84,495,288.55,495,146.28 C495,73.36,435.88,14.24,362.96,14.24z"
              ></path>
              <path
                style="fill: #b0b0b0"
                d="M132.04,14.24C59.12,14.24,0,73.36,0,146.28c0,142.26,210.33,306.55,247.5,334.48V82.37 C224.99,41.77,181.76,14.24,132.04,14.24z"
              ></path>
            </g>
          </g>
          <g id="SVGRepo_iconCarrier">
            <g>
              <path
                style="fill: #b0b0b0"
                d="M362.96,14.24c-49.72,0-92.95,27.53-115.46,68.13v398.39C284.67,452.84,495,288.55,495,146.28 C495,73.36,435.88,14.24,362.96,14.24z"
              ></path>
              <path
                style="fill: #b0b0b0"
                d="M132.04,14.24C59.12,14.24,0,73.36,0,146.28c0,142.26,210.33,306.55,247.5,334.48V82.37 C224.99,41.77,181.76,14.24,132.04,14.24z"
              ></path>
            </g>
          </g>
        </svg>
      </div>
      <div
        class="favorite-icon-active"
        (click)="addRemoveFavorite()"
        [ngStyle]="{ display: !isFavorite ? 'none' : 'block' }"
      >
        <svg
          height="50px"
          width="50px"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="-49.5 -49.5 594.00 594.00"
          xml:space="preserve"
          fill="#000000"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke="#CCCCCC"
            stroke-width="33.660000000000004"
          >
            <g>
              <path
                style="fill: #ff0000"
                d="M362.96,14.24c-49.72,0-92.95,27.53-115.46,68.13v398.39C284.67,452.84,495,288.55,495,146.28 C495,73.36,435.88,14.24,362.96,14.24z"
              ></path>
              <path
                style="fill: #ff0000"
                d="M132.04,14.24C59.12,14.24,0,73.36,0,146.28c0,142.26,210.33,306.55,247.5,334.48V82.37 C224.99,41.77,181.76,14.24,132.04,14.24z"
              ></path>
            </g>
          </g>
          <g id="SVGRepo_iconCarrier">
            <g>
              <path
                style="fill: #ff0000"
                d="M362.96,14.24c-49.72,0-92.95,27.53-115.46,68.13v398.39C284.67,452.84,495,288.55,495,146.28 C495,73.36,435.88,14.24,362.96,14.24z"
              ></path>
              <path
                style="fill: #ff0000"
                d="M132.04,14.24C59.12,14.24,0,73.36,0,146.28c0,142.26,210.33,306.55,247.5,334.48V82.37 C224.99,41.77,181.76,14.24,132.04,14.24z"
              ></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
  <h3 class="current-weather-desc">
    {{ weatherData?.currentWeather?.[0].WeatherText }}
  </h3>
  <div class="day-cards-container">
    <div *ngFor="let day of weatherData.DailyForecasts">
      <weather-day-card
        [day]="day.Date"
        [maxTemp]="day.Temperature.Maximum.Value"
        [minTemp]="day.Temperature.Minimum.Value"
        [icon]="day.Day.Icon"
      ></weather-day-card>
    </div>
  </div>
</div>
<error-modal *ngIf="searchError"></error-modal>
